<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
  <meta charset="UTF-8">
  <title>GemStore</title>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="styles/css/main.css">
    
    
</head>
<body class="container">
  <h1>{{"Power Stones!"}}</h1>

  <div ng-controller="StoreController as store">
  <!-- products container -->
    <div class="list-group" >
      <!-- product container -->
      <div class="list-group-item" ng-repeat="product in store.products">
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>  
        </h3>
        <!-- image gallery -->
        <div class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
          <!-- instead of 0, change it to be dynamic -->
          <img ng-src="{{product.images[gallery.current]}}" class="img img-circle img-responsive img-thumbnail center-block" alt="" />
          <ul class="clearfix list-inline thumbs">
            <li class="small-image thumbnail" ng-repeat="image in product.images">
              <img src="{{image}}" alt="{{image}}" />
            </li>
          </ul>
        </div>
        
        <section class="tab" ng-controller="PanelController as panel">
          <ul class="nav nav-pills">

            <li ng-class="{ active: panel.isSelected(1) }">
              <!-- change ng-click from tab = 1 to panel.selectTab(1) -->
              <a href="" ng-click="panel.setTab(1)">Description</a>
            </li>
            <li ng-class="{ active: panel.isSelected(2) }">
              <a href="" ng-click="panel.setTab(2)">Specification</a>
            </li>
            <li ng-class="{ active: panel.isSelected(3) }">
              <a href="" ng-click="panel.setTab(3)">Reviews</a>
            </li>
          </ul>
          <!-- change ng-show from tab === 1 to panel.isSelected(1) -->
          <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{product.description}}</p>
          </div>
          <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Specification</h4>
            <blockquote>{{product.specification}}</blockquote>
          </div>
          <div class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>
            <ul>
              <li ng-repeat="review in product.reviews">
                <blockquote>
                  <strong>{{review.stars}} Stars</strong>
                  {{review.body}}
                  <cite class="clearfix">- {{review.author}} on {{review.createdOn | date}}</cite>
                </blockquote>    
              </li>
            </ul>

            <!-- review form -->
            <!-- turn off html form validation with novalidate -->
            <!-- prevent form from submit $valid -->
            <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.placeReview(product)" novalidate>
              <!-- live preview -->
              <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">- {{reviewCtrl.review.author}}</cite>
              </blockquote>

              <!-- review form -->
              <h4>Review Form</h4>
              <fieldset class="form-group">
                <select class="form-control" name="stars" title="stars" ng-options="stars for stars in [1,2,3,4,5]" ng-model="reviewCtrl.review.stars" required>
                  <option value="">Rate the Product</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea placeholder="Write your review here..." title="Review" cols="30" rows="10" class="form-control" ng-model="reviewCtrl.review.body"></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="justiceleague@teamone.com" ng-model="reviewCtrl.review.author" required>
              </fieldset>
              <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review">
              </fieldset>
            </form>
          </div>
        </section>
        
        <button class="btn btn-default" ng-show="product.canPurchase">Buy</button>
      </div>
    </div>
  </div>


  <!-- <script type="text/javascript" src="angular/angular.min.js"></script> -->
  <script type="text/javascript" src="angular/angular.js"></script>
  <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>